{% extends "base.html" %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 bg-secondary fw-bold">
                <div class="card-body">
                    <h1 class="text-center">Password Changed</h1>
                    <p class="text-center">Your password has been changed successfully.</p>
                </div>
                <p class="text-center mt-4">
                    You can now <a href="{% url 'login' %}"> Login</a> to your account
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
