{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h1 class="text-center">Reset your password</h1>
                </div>
                <div class="card-body fw-bold">
                    <p class="text-center">We have sent an email to you to reset your password.</p>
                    <p class="text-center">If you did not receive an email, please make sure you entered the correct email address.</p>
                    <p class="text-center">Good night.</p>
                </div>
                <p class="text-center mt-4 fw-bold">
                    Back to <a href="{% url 'login' %}">Login</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
